
#img {
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.div-principal {
    margin-left: calc(100% / 6); /* Ajusta esto según el ancho de la barra lateral */
}

.disabled {
    background-color: red !important; /* Forzar el color de fondo a rojo */
    cursor: not-allowed;
}

